/*Contact Us Page*/
.map-container {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  h1, h3 {
    font-family: 'Arial', sans-serif;
    color: #333;
  }
  
  form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  /*Contact Us Page*/
  /*About Us Page*/
  /* About page specific styles */
.container {
    max-width: 1140px;
  }
  
  h1 {
    font-size: 2.5rem;
    font-weight: bold;
    color: #333;
  }
  
  h2 {
    font-size: 2rem;
    color: #555;
  }
  
  p {
    font-size: 1rem;
    color: #666;
    line-height: 1.5;
  }
  
  .card {
    margin-bottom: 30px;
  }
  
  .card img {
    border-radius: 8px;
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .card-text {
    font-size: 1rem;
    color: #555;
  }
  
  button {
    margin-top: 20px;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mb-4 {
    margin-bottom: 1.5rem;
  }
  
  .mb-5 {
    margin-bottom: 3rem;
  }
  
  /*About Us Page*/